################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/libs/glm/out/build/x64-Debug
