################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/libs/glm/out/build/x64-Debug
2DGame/02-Bubble/.vs/02-Bubble/v16/Browse.VC.opendb
*.ipch
